* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #27282C;
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}